[Unit]
Description=Starts the webapp application
After=network.target remote-fs.target
Requires=network.target remote-fs.target

[Service]
Type=simple
User=csye6225
Environment=export JAVA_HOME=/opt/jdk-18
Environment=export PATH=$PATH:$JAVA_HOME/bin
Environment=export DB_USERNAME=postgres
Environment=export DB_PASSWORD=password
Environment=export DB_HOST=localhost
Environment=export DB_PORT=5432
Environment=export DB_NAME=NEU
WorkingDirectory=/home/csye6225
ExecStart=/opt/jdk-18/bin/java -jar /home/csye6225/webapp.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target



