[Unit]
Description=Starts the webapp application
After=network.target remote-fs.target
Requires=network.target remote-fs.target

[Service]
Type=simple
User=csye6225
WorkingDirectory=/home/csye6225
ExecStart=/home/csye6225/webapp.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target



